.header {
    font-family: vazir;
}

.alert
{
    margin : 0 !important;
    font-family: vazir;

}

.alert p {
    margin : 0;
}


.add-todo-btn:hover{
    background-color: #1b1b11;
    color: white;
    transition: all .2s;
}

.fade.alert.alert-info.show:hover{
    transition: all .2s;
    cursor: pointer;
    background-color: #0289f8;
    color: white;
}

.fade.alert.alert-success.show:hover{
    transition: all .2s;
    cursor: pointer;
    background-color: #ee2456;
    color: white;
}


.todoListItem:end {
    transition: all 1s;
}